li{
    color:darkmagenta;
}
h1{
    color:blue;
}
button
{
    color:#8b0000;
}
a
{color:green;
 text-decoration: none;
 font-size:30px;

}
a:hover
{
text-decoration: underline;
color:rgb(202, 21, 106);
background-color: blue;
}
a:active
{

    color:rgb(255, 136, 0);
}
.para
{
color: purple;
font-size: 25px;
text-align:left;
text-align-last: right;
text-decoration:none;
text-emphasis:triangle blue;
text-transform:lowercase;
text-indent:100px;
line-height: 30px;
word-spacing: 20px;
direction: ltr;
white-space:break-spaces;
}
.linkstyle
{
    border: 30px;;
}